@page
@model pulseui.Pages.Account.LoginModel
@{
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Login -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center mb-4 mt-2">
                        <a href="/" class="app-brand-link gap-2">
                            <img style="width:50px;height:50px;" src="~/assets/img/briefxlogo.png" alt="BriefX">
                            <span class="app-brand-text demo text-body fw-bold ms-1">BriefX</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2 text-center">BriefX'e Hoş Geldiniz 👋</h4>
                    <p class="mb-4 text-center">Hesabınızla giriş yaparak devam edin</p>

                    <form id="formAuthentication" method="post" asp-page-handler="Google">
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center">
                                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google"
                                     style="width:20px; height:20px; margin-right: 10px;">
                                Google ile Giriş Yap
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Login -->
        </div>
    </div>
</div>